.footer {
  background-color: var(--primary-dark);
  color: var(--secondary-gray);
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  position: relative;
  bottom: -135px;
}

a {
  &:link, &:visited {
    color: var(--primary-light);
    transition: 0.2s ease-in-out;
  }

  &:active, &:hover {
    color: var(--primary-gray);
  }
}